@import "~bootstrap/scss/bootstrap.scss";

$maincolor: #00a3d9;
$lightmain: lighten($maincolor, 50%);
$altlightmain: lighten($maincolor, 20%);
$darkmain: darken($maincolor, 30%);
$info: #fe7900;
$text: #333;
$mainwhite: #fff;
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.content {
  min-height: calc(100vh - 70px);
}
.logosm {
  width: 32px;
  height: 32px;
}
.bg-navbarbg {
  background: $maincolor;
  .logotext {
    color: $mainwhite;
    margin-left: 20px;
  }
  .navbar-light {
    color: $mainwhite;
  }
}

._top {
  padding: 15px;
}

.demo {
  padding: 12px 0px 10px 0px;
  color: #e74809;
}
.demo2 {
  padding: 12px 0px 10px 0px;
  color: #e74809;
  text-align: center;
}
.SearchTitleOptions {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.frontpage {
  h2 {
    padding: 20px 0px 8px 0px;
  }
}
.navshows {
  display: grid;
  grid-template-columns: 50px auto 50px;

  .navbutton {
    position: relative;
    width: 50px;
    height: 60px;
    background-color: $mainwhite;
    opacity: 0.65;
    color: $text;
    border: none;
    border-radius: 0px;
    line-height: 53px;
    top: calc(50% - 20px);

    &:hover {
      opacity: 1;
    }
  }
  .previous {
    z-index: 100;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 2px 1px 3px -2px rgba(0, 0, 0, 0.75);
    &::before {
      content: "←";
    }
  }
  .next {
    z-index: 100;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: -2px 1px 3px -2px rgba(0, 0, 0, 0.75);
    &::before {
      content: "→";
    }
  }
  .shows {
    position: relative;

    overflow: hidden;
    width: calc(100% + 100px);
    height: 450px;
    left: -50px;
  }
}
.holder {
  display: grid;
  grid-template-columns: repeat(63, 200px);
  grid-column-gap: 20px;

  .showcard {
    position: relative;
    color: $text;
    background: $lightmain;
    width: 202px;
    min-height: 448px;
    cursor: pointer;
    img {
      width: 200px;
      margin-left: 1px;
      margin-top: 1px;
    }
    h4 {
      padding: 8px 0px 0px 5px;
      font-size: 18px;
    }
    p {
      padding-left: 5px;
    }
    .rating {
      position: absolute;
      display: inline-block;
      line-height: 48px;
      right: 6px;
      bottom: 173px;
      width: 50px;
      height: 50px;
      background-color: $info;
      border-radius: 50%;
      text-align: center;
      color: $mainwhite;
      font-weight: bold;
    }
    .schedule {
      position: absolute;
      z-index: 20;
      top: 408px;
      background: $altlightmain;
      padding: 10px 0px 10px 10px;
      width: 202px;
      color: $text;
      .network {
        position: relative;
        img {
          width: 16px;
          height: 11px;
        }
      }
    }
  }
}

.showInfoBox {
  position: absolute;
  width: 423px;
  height: 450px;
  background: $darkmain;
  top: 1px;
  z-index: 100;
  color: #ff8;
  border: 1px dotted #ff8;
  display: none;
  padding: 10px;
}
.showInfoBoxLeft {
  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -30px;
    z-index: 1;
    border: solid 15px transparent;
    border-right-color: $darkmain;
  }
}

.showInfoBoxRight {
  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 421px;
    z-index: 1;
    border: solid 15px transparent;
    border-left-color: #333;
  }
}

.shownav {
  list-style-type: none;
  display: flex;
  padding: 0px 10px;
  background: #ddd;
  li {
    margin-right: 10px;
    color: #333;
    padding: 10px;
  }
  .active {
    background: #333;
    color: #fff;
  }
}
.cast {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(202px, 1fr));
  grid-column-gap: 20px;
  .person {
    cursor: pointer;
  }
  .detailperson {
    background: #333;
    position: absolute;
    overflow: hidden;
    z-index: 1000;
  }
}
.personShow {
  .personholder {
    position: fixed; /* Stay in place */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
    overflow: auto;
    .personinner {
      margin-top: 100px;
      color: $mainwhite;
      h4 {
      }
      img {
        max-width: 500px;
      }
    }
  }
}

.footer {
  height: 400px;
  background: $darkmain;
  padding-top: 30px;
  margin-top: 30px;
  color: $mainwhite;
}
.todays {
  border-bottom: 1px solid #e74809;
  border-right: 1px solid #e74809;
}

.setgrid {
  display: grid;
  grid-template-columns: 90px repeat(12, 1fr);
  background: #ff8;
  color: #333;
  border-top: 1px solid #e74809;
  div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 1px solid #e74809;
  }

  div {
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 50px;
    line-height: 50px;

    .timenav {
      margin: 0px;
      padding: 0px 16px;
      border: 0px;
      background: $maincolor;
      color: $mainwhite;
    }
  }
}
.time {
  div {
    border-right: 1px solid #e74809;
  }
  div:last-child {
    border-right: 0px;
  }
  .timenav {
  }
}
