$maincolor: #00a3d9;
$lightmain: lighten($maincolor, 50%);
$altlightmain: lighten($maincolor, 20%);
$darkmain: darken($maincolor, 30%);
$info: #fe7900;
$text: #333;
$mainwhite: #fff;
$linkcolor: #007bff;

@import "~bootstrap/scss/bootstrap.scss";
@import "./toptools.scss";
@import "./navigation.scss";

@import "./showdetails.scss";
@import "./footer.scss";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.content {
  min-height: calc(100vh - 70px);
}

.frontpage {
  h2 {
    padding: 20px 0px 8px 0px;
  }
}
.navshows {
  display: grid;
  grid-template-columns: 50px auto 50px;

  .navbutton {
    position: relative;
    width: 50px;
    height: 60px;
    background-color: $mainwhite;
    opacity: 0.65;
    color: $text;
    border: none;
    border-radius: 0px;
    line-height: 53px;
    top: calc(50% - 20px);

    &:hover {
      opacity: 1;
    }
  }
  .previous {
    z-index: 100;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 2px 1px 3px -2px rgba(0, 0, 0, 0.75);
    &::before {
      content: "←";
    }
  }
  .next {
    z-index: 100;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: -2px 1px 3px -2px rgba(0, 0, 0, 0.75);
    &::before {
      content: "→";
    }
  }
  .shows {
    position: relative;

    overflow: hidden;
    width: calc(100% + 100px);
    height: 450px;
    left: -50px;
  }
}
.holder {
  display: grid;
  grid-template-columns: repeat(63, 200px);
  grid-column-gap: 20px;

  .showcard {
    position: relative;
    color: $text;
    background: $lightmain;
    width: 202px;
    min-height: 448px;
    cursor: pointer;
    img {
      width: 200px;
      margin-left: 1px;
      margin-top: 1px;
    }
    h4 {
      padding: 8px 0px 0px 5px;
      font-size: 18px;
    }
    p {
      padding-left: 5px;
    }
    .rating {
      position: absolute;
      display: inline-block;
      line-height: 48px;
      right: 6px;
      bottom: 173px;
      width: 50px;
      height: 50px;
      background-color: $info;
      border-radius: 50%;
      text-align: center;
      color: $mainwhite;
      font-weight: bold;
    }
    .schedule {
      position: absolute;
      z-index: 20;
      top: 408px;
      background: $altlightmain;
      padding: 10px 0px 10px 10px;
      width: 202px;
      color: $text;
      .network {
        position: relative;
        img {
          width: 16px;
          height: 11px;
        }
      }
    }
  }
}

.showInfoBox {
  position: absolute;
  width: 423px;
  height: 450px;
  background: $darkmain;
  top: 1px;
  z-index: 100;
  color: #ff8;
  border: 1px dotted #ff8;
  display: none;
  padding: 10px;
}
.showInfoBoxLeft {
  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -30px;
    z-index: 1;
    border: solid 15px transparent;
    border-right-color: $darkmain;
  }
}

.showInfoBoxRight {
  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 421px;
    z-index: 1;
    border: solid 15px transparent;
    border-left-color: #333;
  }
}

.cast {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(202px, 1fr));
  grid-column-gap: 20px;
  .person {
    cursor: pointer;
  }
  .detailperson {
    background: #333;
    position: absolute;
    overflow: hidden;
    z-index: 1000;
  }
}

.todays {
  border-bottom: 1px solid #e74809;
  border-right: 1px solid #e74809;
}

.setgrid {
  display: grid;
  grid-template-columns: 90px repeat(12, 1fr);
  background: #ff8;
  color: #333;
  border-top: 1px solid #e74809;
  div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 1px solid #e74809;
  }

  div {
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    line-height: 50px;

    .timenav {
      margin: 0px;
      padding: 0px 16px;
      border: 0px;
      background: $maincolor;
      color: $mainwhite;
    }
  }
  .cell {
    border: 1px solid #333;
  }
  .cellStart0 {
    grid-column-start: 2;
  }
  .cellStart30 {
    grid-column-start: 4;
  }
  .cellStart100 {
    grid-column-start: 6;
  }
  .cellStart130 {
    grid-column-start: 8;
  }
  .cellStart200 {
    grid-column-start: 10;
  }
  .cellStart230 {
    grid-column-start: 12;
  }

  .cellEnd30 {
    grid-column-end: 4;
  }
  .cellEnd60 {
    grid-column-end: 6;
  }

  .cellEnd120 {
    grid-column-end: 10;
  }
  .cellEnd130 {
    grid-column-end: 8;
  }
  .cellEnd160 {
    grid-column-end: 10;
  }
  .cellEnd185 {
    grid-column-end: 14;
  }
  .cellEnd190 {
    grid-column-end: 12;
  }
  .cellEnd220 {
    grid-column-end: 14;
  }
  .cellEnd230 {
    grid-column-end: 12;
  }
  .cellEnd245 {
    grid-column-end: 13;
  }
  .cellEnd260 {
    grid-column-end: 14;
  }
  .cellEnd280 {
    grid-column-end: 14;
  }
}
.time {
  div {
    border-right: 1px solid #e74809;
  }
  div:last-child {
    border-right: 0px;
  }
  .timenav {
  }
}

.programtime {
  background: $lightmain;
}

.cellholder {
  display: grid;
  grid-template-columns: 110px auto;
  .showepisode {
    h4 {
      font-size: 1rem;

      margin: 0px;
      padding: 0px;
    }
    p {
      margin: 0px;
    }
  }
}

.networklink {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.topanchor {
  visibility: hidden;
}

.toTopOfPageLink {
  border: 1px solid #00a3d9;
  background: #007bff;
  padding: 6px 15px;
  color: $mainwhite;
  &:hover {
    color: $mainwhite;
    text-decoration: none;
  }
}

.timeline {
  width: 100%;
  background-color: #999;
  display: grid;
  .channelse {
    grid-template-columns: 200px auto;
    border-right: 2px solid #fff;
    .channel {
      padding: 10px;
    }
  }
  .programs {
    width: 100%;
  }
}
