.bg-navbarbg {
    background: $maincolor;
    .logosm {
        width: 32px;
        height: 32px;
        .logotext {
            color: $mainwhite;
            margin-left: 20px;
          }
      }
  }
    