.toptolls {
    padding: 15px;
    .demo,.demo2 {
        padding: 12px 0px 10px 0px;
        color: #e74809;
      }
      .demo2 {
        text-align: center;
      }
      .SearchTitleOptions {
        position: absolute;
        width: 100%;
        z-index: 200;
      }
  }

